<%  @products.each_with_index do |p,i| %>
  <div class="leaf-box <%= i.even? ? 'left' : 'right'%> leaf">
    <div class="inner">
      <div class="slat-product">
        <p class="title"><%= link_to p.title, p %></p>
        <div class="photo-product photo-product-small">
          <div class="watermark <%= p.is_sale ? 'on_sale' : 'green' %>"></div>
          <% if !p.picture.present? %>
          <%= link_to raw(image_tag(p.picture.default_url, size:'184x151')), p %>
          <% else %>
          <%= link_to raw(image_tag(p.picture.thumb('184x151'), size:'184x151')), p %>
          <% end %>
          <div class="price"> <%= number_to_currency(p.price) %></div>
        </div>
        <p class="measure"><%= p.measure %></p>
        <%= form_for p.cart_items.build do |f| %>
          <%= select "cart_item", "quantity", (1..10), class: "l-lefty" %>
          <%= f.hidden_field :product_id %>
          <button class="add-to-basket"> Agregar <span class="icon"></span><br />a mi canasta </button>
        <% end %>
        
        <% unless p.description.empty? %>
        <p class="description">DESCRIPCIÓN: <%= truncate(p.description, length: 80) %> </p>
        <% end %>
      
        <%= link_to(p, :class=>'more') do %>
          Ver Más
          <span class="icon"></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
